body {
  background-color: whitesmoke;
}

.Title {
  position: relative;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Navi{
  position: relative;
  background-color: whitesmoke;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  width: 40%; 
  margin: 0 auto;
  vertical-align: middle;
}

.NaviBtn{
  position: relative;
  background-color: #0D1E32;
  border-radius: 2px;
  overflow: hidden;
  font-size: 20px;
  height: 3rem;
  color: whitesmoke;
  width: 6rem;
  border: 0;
  outline: 0;
}

.Select{
  position: relative;
  top: 1px;
  height: 3rem;
  width: 6rem;
  font-size: 20px;
  outline: 0;
  background-color: whitesmoke;
}

.Calender{
  background-color: whitesmoke;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  text-align: center;
  margin-top: 20px;
}

.CalItem{
  position: relative;
  overflow: hidden;
  width: 6rem;
  height: 3.5rem;
  padding: 10px;
  color: whitesmoke;
  margin-top: 10px;
  background-color: #0D1E32;
  margin-bottom: 10px;
  margin: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
}